
body {
  background-image: url("assets/DomoKun.jpg");
   font-family: "Mountains of Christmas", serif;
  background-size: cover;
  height: 100vh;
}



img {
  height: 150px;
  border-radius: 20px;
  padding: 10px;
  transition: 1s;
  filter: blur(100%);
  /*      border: 3px solid blue; */
}

img:hover {
  height: 200px;
  filter: invert(100%);
  /*   border: 1px solid red; */
}

p:hover {
  /*   transform: rotate(5deg); */
  letter-spacing: 1em;
}

.specialCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.TEST {
  color: white;
}


#internet {
  color: black;
  text-shadow: 2px 2px white;
}

h1,
a {
  animation: coolAnimation 3s infinite;
}

#p1 {
  animation: coolAnimation 5s infinite;
}

@keyframes coolAnimation {
  0% {
    color: red;
  }
  50% {
    color: green;
  }
  100% {
    color: blue;
  }
}
